* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  background-color: rgb(87, 78, 97);
  width: 80%;
}
.container {
  width: 60%;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  position: absolute;
  top: 1rem;
  left: 6rem;
}

input {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
  border: none;
  background-color: rgb(194, 168, 168);
}
select {
  margin-bottom: 10px;
}
.Regbtn {
  background-color: rgb(214, 202, 226);
  color: black;
  border: none;
  cursor: default;
}

input:focus {
  background-color: gray;
  color: white;
}
hr {
  margin-top: 2%;
  margin-bottom: 2%;
}
.reset {
  background-color: rgb(214, 202, 226);
  color: black;
  border: none;
  cursor: default;
}
