.container {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
h1 {
  font-size: 35px;
  font-weight: 500;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
h2 {
  text-align: center;
  padding: 1rem;
}
h3 {
  padding: 1rem;
}
.primary-color {
  color: orangered;
}
.secondary-color {
  color: #fff;
}
.primary-text {
  color: #000;
}

.margin {
  margin-left: 3.5rem;
}
.btn {
  font-size: 18px;
  display: inline-block;
  padding: 0.5rem;
  margin: 0.5 0rem;
  background: orangered;
  color: #fff;
  border-radius: 5px;
  border: none;
}
.btn-2 {
  font-size: 18px;
  display: inline-block;
  padding: 0.3rem 0.5rem;
  margin: 0.5rem;
  border: orangered;
  color: orangered;
  border-radius: 5px;
}
#navbar {
  position: fixed;
  width: 100%;
  padding: 1rem;
  background: orangered;
}
#navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
#navbar .container .logo a {
  color: #fff;
}
#navbar .menu li {
  list-style: none;
  display: inline-block;
}
#navbar .menu li a {
  font-size: 18px;
  font-weight: 600;
  padding: 0.45rem;
  margin: 0 0.25rem;
  color: #ffffff;
}
#navbar .menu li a:hover {
  color: #000;
}

#home {
  display: flex;
  height: 100vh;
  min-height: 500px;
}

img {
  height: 400px;
  width: 400px;
  position: fixed;
  left: 900px;
  border-radius: 75px;
}

#home .container {
  margin: auto 0px auto 2rem;
}

#home .home-content .text-1 {
  font-size: 29px;
  margin: 1.2rem;
}
#home .home-content .text-2 {
  font-size: 65px;
  font-weight: 500;
  margin: 1rem;
}
#home .home-content .text-3 {
  font-size: 32px;
  margin: 1.2rem;
}
#home .home-content .text-3 span {
  color: orangered;
  font-weight: 600;
}
#home .btn {
  margin-left: 1rem;
  font-size: 1.5rem;
}
#home {
  display: flex;
  background: url() no-repeat center;
  height: 100vh;
  min-height: 500px;
}

#home .container {
  margin: auto 0px auto 2rem;
}

#home .home-content .text-1 {
  font-size: 29px;
  margin: 1.2rem;
}
#home .home-content .text-2 {
  font-size: 65px;
  font-weight: 500;
  margin: 1rem;
}
#home .home-content .text-3 {
  font-size: 32px;
  margin: 1.2rem;
}
#home .home-content .text-3 span {
  color: orangered;
  font-weight: 600;
}
#home .btn {
  margin-left: 1rem;
  font-size: 1.5rem;
}
#about p {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 20px;
  width: 50vw;
}

.about-content {
  display: flex;
  padding: 1rem;
}

.about-content .column {
  flex: 1;
  padding: 1rem;
}

.lang {
  display: block;
  align-items: center;
}

.contact-content {
  display: flex;
  padding: 1rem;
}

.contact-content .column {
  flex: 1;
  padding: 1rem;
}
.contact-form .form-group input {
  width: 50%;
}

.contact-text {
  margin-top: 1rem;
}

.contact-form .form-group {
  margin: 0.75rem;
}

.contact-form label {
  display: block;
}

.contact-form .field,
.contact-form textarea {
  width: 50%;
  padding: 0.5rem;
  border-radius: 0.2rem;
}

.contact-form textarea {
  height: 8rem;
}

.contact-content .column .contact-form .btn {
  margin-left: 0.8rem;
}
.col {
  color: orangered;
}

#services .office h2 {
  color: orangered;
  font-size: 32px;
}
#services .office .services-content ul {
  margin-bottom: 5px;
  font-size: 20px;
  margin-left: 30px;
}
.pfig img {
  height: 400px;
  width: 400px;
}
